<head>
    <link rel="stylesheet" href="email-form.css">
</head>
<body>
    <div class="con-con">
        <form action="https://api.web3forms.com/submit" method="POST" class="con-left">
            <div class="con-left-title">
                <h2>Get in touch</h2>
                <hr>
            </div>
            <input type="hidden" name="access_key" value="0611c4e5-0d42-45ee-b0fb-34ac1ba5ed9c">
            <input type="text" name="name" placeholder="Your name" class="con-inputs" required>
            <input type="email" name="email" placeholder="Your email" class="con-inputs" required>
            <textarea name="message" placeholder="Your Message" class="con-inputs" required></textarea>
            <button type="submit">Submit</button>
        </form>
        <div class="con-right"></div>
    </div>
</body>