<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo link">Code Solution</a>
      <ul class="header-menu list">
        <li class="header-menu-item">
          <a href="" class="header-menu-link link current">Docs</a>
        </li>
        <li class="header-menu-item">
          <a href="" class="header-menu-link link">Tools</a>
        </li>
        <li class="header-menu-item">
          <a href="" class="header-menu-link link">Features</a>
        </li>
        <li class="header-menu-item">
          <a href="" class="header-menu-link link">Pricing</a>
        </li>
        <li class="header-menu-item">
          <a href="" class="link">Jobs</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="open-menu-btn">
      <svg class="icon-charm" width="32" height="22">
        <use href=""></use>
      </svg>
    </button>
  </div>
</header>
