<div class="container header-container">
  <nav class="header-nav">
    <a href="./index.html" class="nav-logo link"
      >Code Solutions
      <!-- <img
        src="./images/chocolate.png"
        alt="logo image"
        width="24"
        height="24"
    /> -->
    </a>
    <ul class="nav-list list">
      <li class="nav-list-item">
        <a href="#home" class="nav-link link">Docs</a>
      </li>
      <li class="nav-list-item">
        <a
          href="https://www.finn.no/"
          target="_blank"
          rel="noopener noreferrer"
          class="nav-link link"
          >Jobs</a
        >
      </li>
      <li class="nav-list-item">
        <a href="#loved" class="nav-link link">Learn</a>
      </li>
    </ul>
  </nav>
  <ul class="header-soc list">
    <li class="soc-item">
      <a
        href="https://www.instagram.com"
        target="_blank"
        rel="noopener noreferrer"
        class="soc-link link"
        ><svg class="header-soc-icon" width="24" height="24">
          <use href="./images/icons.svg#instagram-icon"></use>
        </svg>
      </a>
    </li>
    <li class="soc-item">
      <a
        href="https://twitter.com"
        target="_blank"
        rel="noopener noreferrer"
        class="soc-link link"
        ><svg class="header-soc-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
